.adva {
  position: relative;
  overflow: hidden;
}
.adva::before {
  content: "";
  position: absolute;
  top: var(--adva-y);
  left: var(--adva-x);
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);

  animation: var(--animation-name-adva) 500ms ease;
}

@keyframes adva {
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
